#container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 35%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

#albumFormHeading {
    margin: 0;
    background: linear-gradient(to right, red, orange, green, #01667f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Oleo Script", system-ui;
    font-style: normal;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    align-items: center;
}

input {
    border-radius: 50px;
    outline: none;
    width: 80%;
    border: 1px solid lightgray;
    padding: 10px 15px;
    margin-right: 5px;
}

#clearBtn, #addBtn {
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 900;
    height: 35px;
    margin: 3px;
    width: 20%;
}