#container {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 200px;
    margin: 10px;
    padding-bottom: 15px;
    width: 250px;
}

#container:hover {
    background: #89aab8;
    border: 1px solid #89aab8;
    transition: all 0.2s;
}

#container:hover .title {
    color: ghostwhite;
}

#thumbnail{
    height: 85%;
    width: 95%;
    border: 1px solid lightgray;
    margin: auto;
    border-radius: 5px;
    background: white;
    margin-top: 5px;
}

.title {
    margin: auto;
    text-align: center;
    margin-top: 6px;
    color: rgb(78, 78, 78);
    font-size: 1rem;
}

#albumIcon {
    color: lightgrey;
    height: 100%;
    width: 40%;
    margin-left: 60px;
}