#mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.heading {
    margin-left: 25px;
    color: white;
}

#leftSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: auto;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}

#rightSide {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

button {
    font-weight: 900;
}

#backBtn {
    color: black;
    box-shadow: 0 3px 8px grey;
    background-color: white;
}

#backBtn:hover {
    cursor: pointer;
    background-color: white;
}

#searchBtn {
    position: relative;
    right: 20px;
    color: rgb(85, 85, 85);
}

.searchInput {
    margin: 0;
    opacity: 0;
    width: 0%;
    outline: none;
    transition: opacity 0.6s, width 0.3s;
}

.showSearchInput {
    opacity: 1;
    width: 60%;
    transition: opacity 0s, width 0.3s;
}