#mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.heading {
    margin-left: 25px;
}

#leftSide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: auto;
}

#rightSide{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

button {
    font-weight: 900;
}

#backBtn {
    color: black;
    box-shadow: 0 3px 8px lightgrey;
}

#backBtn:hover {
    cursor: pointer;
    background-color: white;
}

#searchBtn {
    margin-right: 20px;
}

.searchInput {
    margin: 0;
    opacity: 0; 
    width: 0%; 
    transition: opacity 0.6s, width 0.3s; 
}

.showSearchInput {
    opacity: 1;
    width: 40%;
    transition: opacity 0s, width 0.3s; /* No delay on showing */
}
