@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

#navbar {
    height: 65px;
    background: #e7f5fe;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 5px 10px rgb(125, 125, 125);
}

#logoIcon {
    border-radius: 10px;
    height: 70%;
    margin-right: 5px;
}

#logoText{
    color: black;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    background: linear-gradient(to right, red, orange, green, #01667f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}