#navbar {
    height: 65px;
    background: skyblue;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#logoIcon {
    border-radius: 10px;
    height: 85%;
    margin-right: 10px;
}